<!doctype html>
<html>
<head>
    <title>Attack On Titan Cafe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="containerS"  >
  <!-- background-color: rgb(148, 185, 145); -->

<div class="col-sm-6 col-sm-offset-3"style="background-color:rgb(148,185,145);">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg" style="background-color:rgb(24, 36, 23);border:3px solid rgb(85, 112, 82)">Login</button>
    </form>

    <hr>

    <p>Need an account? <a style="font-weight: bolder; color:black;"href="/signup">Signup</a></p>
    <p>Or go <a style="font-weight: bolder; color:black;" href="/">home</a>.</p>


</div>
</div>
</body>
</html>
